* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Cabin", sans-serif;
}

body {
  background-color: #363636;
  color: #000000;
  font-size: 15px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #00CD00;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.nav-list {
  display: flex;
  gap: 32px;
  /* espaço entre os links */
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}


.nav-list li a:hover {
  color: #050505;
}


.conteudo-quem-somos,
.conteudo-objetivo {
  display: flex;
  /* lado a lado */
  align-items: center;
  /* centraliza verticalmente */
  justify-content: center;
  gap: 40px;
  /* espaço entre imagem e texto */
  padding: 60px 40px;
  background-color: #0f172a;
  /* fundo escuro */
}

/* Imagem à esquerda */
.intro-imagem {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
}

.intro-imagem img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  /* bordas arredondadas */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  /* sombra elegante */
  object-fit: cover;
  /* ajusta sem distorcer */
}

/* Texto à direita */
.intro-texto,
.content {
  flex: 1 1 500px;
  color: #ffffff;
  /* texto branco */
}

.intro-texto h1 {
  font-size: clamp(28px, 4vw, 48px);
  color: #00ff6a;
  /* verde neon */
  text-transform: uppercase;
  text-shadow: 0 0 10px black;
  margin-bottom: 20px;
}

.intro-texto p {
  font-size: 18px;
  line-height: 1.6;
  color: #f1f5f9;
  /* branco suave */
}

/* Responsividade */
@media (max-width: 768px) {
  .conteudo-quem-somos {
    flex-direction: column;
    /* imagem em cima, texto embaixo */
    text-align: center;
  }

  .intro-imagem,
  .intro-texto {
    flex: 1 1 100%;
  }

  .intro-imagem img {
    max-width: 90%;
  }
}
